$primary: #007EA7;

.timline-component {
  .card-body {
    max-height: 272px;
    overflow-y: auto;
  }

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .steps {
    margin: 0 auto;
  }
  
  .step {
    display: flex;
    position: relative;
  
    &:after {
      content: "";
      position: absolute;
      left: 15px;
      top: 32px;
      height: 0;
      width: 2px;
      background-color: $primary;
    }
  
    .info {
      margin: 8px 0 20px;
    }
  
    .title {
      font-size: 16px;
      font-weight: 600;
      color: black;
    }

    .info-timeline {
      margin: 10px 0px;
      cursor: pointer;
      span {
        background: $primary;
        opacity: 0.8;
        color: #fff;
        padding: 6px 30px;
        border-radius: 3px;
        box-shadow: 2px 2px 4px rgba(47, 87, 117, 0.7);
      }
    }
  
    .text {
      font-size: 13px;
      color: black;
      padding-bottom: 0;
      margin: 0;
    }
  
    &:not(:last-child) {
      &:after {
        height: calc(100% - 32px);
      }
     
    }
  }

  .step-unactive {
    &:after {
      content: "";
      position: absolute;
      left: 15px;
      top: 32px;
      height: 0;
      width: 2px;
      background-color: #999;
    }
  }
  
  .number {
    width: 32px;
    height: 32px;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid $primary;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    font-size: 15px;
    font-weight: 600;
    margin-right: 14px;
  
    &.completed {
      background-color: $primary;
    }
  
    svg {
      width: 16px;
      height: 16px;
      object-fit: contain;
  
      path {
        fill: white;
      }
    }
  }
}
