<div class="row timline-component">
  <div class="col-12">
    <div class="card">
      <header class="card-header">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" role="img" class="c-icon">
          <path fill="var(--ci-primary-color, currentColor)"
            d="M47.547,63.547V448.453a16,16,0,0,0,16,16H448.453a16,16,0,0,0,16-16V63.547a16,16,0,0,0-16-16H63.547A16,16,0,0,0,47.547,63.547Zm288.6,16h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm-128.3-256.6h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm-128.3-256.6h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Z"
            class="ci-primary"></path>
        </svg> Time line
        <button class="btn btn-primary float-right" 
          @click="createTimeLine"
          title="Thêm mới">
          <i class="fa fa-plus-square"></i></button>
      </header>
      <div class="card-body">
        <div class="main-card mb-3 card">
          <div class="card-body">
            <div class="vertical-timeline vertical-timeline--animate vertical-timeline--one-column"
              v-for="(item, index) in timeLines">
              <div class="vertical-timeline-item vertical-timeline-element">
                <div>
                  <span class="vertical-timeline-element-icon bounce-in">
                    <i class="fas fa-circle"></i>
                  </span>
                  <div class="vertical-timeline-element-content bounce-in"
                    :key="index">
                    <h4 class="timeline-title link-detail"
                      @click="updateTimeLine(index)"
                      title="Xem">{{ item.timeLineName }}</h4>
                    <p>{{ item.description }}</p>
                    <div class="button__edit text-right">
                      <button class="btn btn-danger" 
                        @click="deleteTimeLine(item.id)" title="Xóa">
                        <i class="fa fa-trash"></i></button>
                    </div>
                    <span class="vertical-timeline-element-date text-left">
                      {{ convertTime(item.startDay, 'DD/MM/YYYY') }}-<br />
                      {{ convertTime(item.endDay, 'DD/MM/YYYY') }}</span>
                  </div>
                </div>
              </div>
            </div>
            <div v-if="timeLines.length==0"
              class="font-weight-bolder">
            Không có dữ liệu được tìm thấy
          </div>
          </div>
        </div>
      </div>
      <TimeLineDetailComponent 
        :planGuid="planGuid"
        :data="editTimeLine" @change-data="changeData" />
      <ConfirmDialog :data="confirmTimeline" @agree="deleteTimelineConfirm"></ConfirmDialog>
    </div>
  </div>
</div>
