<div class="row">
  <div class="col-12">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 px-0">
      <PlanningStepsComponent v-if="internshipCourseId" :isActiveStep="isActiveStep" />
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <div class="row card">
          <header class="card-header d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" role="img" class="c-icon">
                <path fill="var(--ci-primary-color, currentColor)"
                  d="M47.547,63.547V448.453a16,16,0,0,0,16,16H448.453a16,16,0,0,0,16-16V63.547a16,16,0,0,0-16-16H63.547A16,16,0,0,0,47.547,63.547Zm288.6,16h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm-128.3-256.6h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm-128.3-256.6h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Z"
                  class="ci-primary"></path>
              </svg>
              <span class="ml-1">Danh sách giáo viên</span>
            </div>
            <div>
              <button class="btn btn-info float-right ml-2" @click="teacherAssignment()" title="Thêm mới">
                phân công giáo viên
              </button>
              <button class="btn btn-primary float-right" @click="createTeacher" title="Thêm mới">
                <em class="fa fa-plus-square"></em>
              </button>
              <button class="btn btn-instagram float-right btn-add-file" @click="createFileTeacher" title="Thêm file">
                <em class="fa fa-file-excel"></em>
              </button>
            </div>
          </header>
          <div class="card-body">
            <div class="row mb-3">
              <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="form-row filter-wrapper ml-0 mr-0">
                  <div class="col-xl-4 col-md-4 col-sm-12 mb-sm-2">
                    <select class="form-control form-select form-select-class">
                      <option value="">Tất cả</option>
                      <option value="active">Đang hoạt động</option>
                      <option value="unactive">Không hoạt động</option>
                    </select>
                  </div>
                  <div class="col-xl-3 col-md-3 col-sm-12 mb-sm-2">
                    <input type="text" class="form-control" id="keywords" placeholder="Nhập từ khóa" />
                  </div>
                  <div class="col-xl-3 col-md-3 col-sm-12">
                    <button type="submit" id="btn-search" class="btn btn-stack-overflow" title="Tìm kiếm">
                      <em class="fas fa-search"></em>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table">
                <thead class="">
                  <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Họ và tên</th>
                    <th scope="col">Email</th>
                    <th scope="col">Số điện thoại</th>
                    <th scope="col">Trạng thái</th>
                    <th scope="col">Thao tác</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item, index) in pageOfItems" :key="index">
                    <th scope="row">{{ index + 1 }}</th>
                    <td @click="updateTeacher(index)" class="link-detail" title="Xem">
                      {{ item.firstName + ' ' + item.lastName }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.phoneNumber }}</td>
                    <td>
                      <button class="btn btn-danger mr-2" @click="updateStatus(index)" title="Chưa hoạt động"
                        v-if="item.status == 'unactive'">
                        <em :class="getStatusIcon(item.status)"></em>
                      </button>
                      <button class="btn btn-warning mr-2" @click="updateStatus(index)" title="Hoạt động"
                        v-if="item.status == 'active'">
                        <em :class="getStatusIcon(item.status)"></em>
                      </button>
                    </td>
                    <td>
                      <button class="btn btn-danger" title="Xóa" @click="deleteTeacher(item)">
                        <em class="fa fa-trash"></em>
                      </button>
                    </td>
                  </tr>
                  <tr v-show="pageOfItems == null || pageOfItems.length === 0">
                    <th id="" colspan="5" class="text-left">
                      Không có dữ liệu nào được tìm thấy.
                    </th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <TeacherManagementDetailComponent :data="editTeacher" @change-data="changeData" :faculties="faculties" />

          <AddTeacherFileComponent :data="teacherFile" @change-data="changeData" :faculties="faculties" />
          <ConfirmDialog :data="confirmTeacher" @agree="deleteTeacherConfirm"></ConfirmDialog>

          <div class="card-footer d-flex justify-content-center text--blue">
            <JwPagination :items="teachers" @changePage="onChangePage" :labels="customLabels" :pageSize="10">
            </JwPagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>