// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";

.app {
  position: relative;
  .select2-container {
    width: 100%;
  }
  .cursor-pointer {
    cursor: pointer;
  }
  .cursor-default {
    cursor: default;
  }

  .text {
    &--red {
      color: rgb(240, 59, 59);
    }
  
    &--white {
      color: white;
    }
  
    &--blue {
      color: blue;
    }
  
    &--italic {
      font-style: italic;
    }

    &--font-size__m {
      font-size: 16px;
    }
  }
  .mx-datepicker .mx-input-wrapper:hover .mx-icon-calendar {
    display: none;
  }
}

.card-header:not(.content-center) > .c-icon:first-child {
  margin-right: 0.1rem;
  margin-top: 0.1rem;
  vertical-align: top;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 1.2rem;
}

#v-spinner {
  z-index: 10000;
}

.mx-datepicker .mx-input-wrapper:hover .mx-icon-clear {
  display: none;
}

.fa-unlock {
  color: black;
}

.btn-continue {
  background: #0d86ff url(https://static.ebk.vn/images/theme2/btn-next-bg.png) no-repeat right;
  float: right;
  padding: 10px 50px;
  border: none;
  color: #fff;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  margin: 20px 10px 20px 0;

  &:hover {
    border: solid 3px #0d86ff;
    color: rgb(235, 225, 140);
  }
}

.wrapCollapse {
  dt {
    display: block;

    a {
      display: block;
      padding: 4px 15px;
      background-color: #adadad;
      color: #302b2b;

      &:hover {
        text-decoration: none;
      }

      &.active {
        background-color: #3c6382;
        color: #fff;
      }

      &.activeCourse {
        background-color: #b86bda;
        color: #fff;
      }

      &.activeTrainingSystem {
        background-color: #c9d33c;
        color: #fff;
      }
    }
  }

  dd {
    padding: 0 20px;
    height: 0;
    transition: all 0.5s ease;
    overflow: hidden;
    opacity: 0;

    &.active {
      height: auto;
      padding: 10px 0px;
      opacity: 1;
    }
  }
}

.link-detail {
  color: blue;
  cursor: pointer;
  font-weight: 700;
  &:hover {
    text-decoration: underline;
  }
}

.title-collapse {
  cursor: pointer;
}

.disable-wapper-content {
  opacity: 0.6;
  pointer-events: none;
}

.form-select-class{
  width: 100%;
  height: 35px;
}

.notify-component {
  p {
    margin: 0;
  }

  .notice {
    position: relative;
    margin: 1em;
    background: #F9F9F9;
    padding: 1em 1em 1em 2em;
    border-left: 4px solid #DDD;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);

    &::before {
      position: absolute;
      top: 50%;
      margin-top: -17px;
      left: -17px;
      background-color: #DDD;
      color: #FFF;
      width: 30px;
      height: 30px;
      border-radius: 100%;
      text-align: center;
      line-height: 30px;
      font-weight: bold;
      font-family: Georgia;
      text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    }
  }

  .info {
    border-color: #0074D9;
    &::before {
      content: "i";
      background-color: #0074D9;
    }
  }

  .success {
    border-color: #2ECC40;
    &::before {
      content: "√";
      background-color: #2ECC40;
    }
  }

  .warning {
    border-color: #FFDC00;
    &::before {
      content: "!";
      background-color: #FFDC00;
    }
  }

  .error {
    border-color: #FF4136;
    &::before {
      content: "X";
      background-color: #FF4136;
    }
  }
}