.information-assignment {
    &__center  {
        background-color: #CC99FF;
        text-align: center;
        margin-bottom: 5px;
    }
    &__text  {
        margin: 2px;
    }
}
.automatic_assignment {
    background-color: #fff;
}
    