<div class="row">
  <div class="col-12">
    <div class="card">
      <header class="card-header">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
          role="img"
          class="c-icon"
        >
          <path
            fill="var(--ci-primary-color, currentColor)"
            d="M47.547,63.547V448.453a16,16,0,0,0,16,16H448.453a16,16,0,0,0,16-16V63.547a16,16,0,0,0-16-16H63.547A16,16,0,0,0,47.547,63.547Zm288.6,16h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm-128.3-256.6h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm-128.3-256.6h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Z"
            class="ci-primary"
          ></path>
        </svg>
        Xác nhận thực tập
      </header>
      <div class="card-body">
        <div class="row mb-3">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h3 class="text-center">Thông tin xác nhận</h3>
            <div class="form-confirmation-infomation">
              <div class="form-group row">
                <label for="name" class="col-md-4 col-sm-4 col-form-label">
                  Tên những công ty đã từng phỏng vấn (<span class="text--red"
                    >*</span
                  >)
                </label>
                <div class="col-md-8 col-sm-8">
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 col-sm-4 col-form-label">
                  Mã số thuế (<span class="text--red">*</span>)
                </label>
                <div class="col-md-8 col-sm-8">
                  <div class="input-group mb-3">
                    <select class="form-control form-select form-select-class">
                      <option> </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="name" class="col-md-4 col-sm-4 col-form-label">
                  Tên công ty (<span class="text--red">*</span>)
                </label>
                <div class="col-md-8 col-sm-8">
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="form-group row">
                <label for="name" class="col-md-4 col-sm-4 col-form-label">
                  Giám đốc (<span class="text--red">*</span>)
                </label>
                <div class="col-md-8 col-sm-8">
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="form-group row">
                <label for="name" class="col-md-4 col-sm-4 col-form-label">
                  Địa chỉ (<span class="text--red">*</span>)
                </label>
                <div class="col-md-8 col-sm-8">
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="form-group row">
                <label for="name" class="col-md-4 col-sm-4 col-form-label">
                  Website (<span class="text--red">*</span>)
                </label>
                <div class="col-md-8 col-sm-8">
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="form-group row">
                <label for="name" class="col-md-4 col-sm-4 col-form-label">
                  Cán bộ hướng dẫn thực tập (<span class="text--red">*</span>)
                </label>
                <div class="col-md-8 col-sm-8">
                  <input type="text" class="form-control" />
                </div>
              </div>
              <button
                type="button"
                class="btn btn-success btn-lg btn-confirmation"
              >
                Xác nhận
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
