<div class="row">
  <div class="col-12">
    <div class="card">
      <header class="card-header">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" role="img" class="c-icon">
          <path fill="var(--ci-primary-color, currentColor)"
            d="M47.547,63.547V448.453a16,16,0,0,0,16,16H448.453a16,16,0,0,0,16-16V63.547a16,16,0,0,0-16-16H63.547A16,16,0,0,0,47.547,63.547Zm288.6,16h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm-128.3-256.6h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm-128.3-256.6h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Z"
            class="ci-primary"></path>
        </svg>
        Xác nhận thực tập
      </header>
      <div class="card-body">
        <div class="row mb-3">
          <div class="form-check col-sm-12 col-md-6 col-lg-3 text-center">
            <input v-model="intership" value="false" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              Chưa có công ty thực tập
            </label>
          </div>
          <div class="form-check col-sm-12 col-md-6 col-lg-3 text-center">
            <input v-model="intership" value="true" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
              Đã có công ty thực tập
            </label>
          </div>
        
        </div>
        <form v-if="intership === 'true'" @submit.prevent>
          <div class="form-row p-3">
            <div class="form-group col-sm-12 col-md-6 col-lg-6">
              <label>Mã số thuế</label>
              <input
                type="text"
                class="form-control"
              />
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6">
              <label>Tên công ty</label>
              <input
                type="text"
                class="form-control"
              />
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6">
              <label>Giám đốc</label>
              <input
                type="text"
                class="form-control"
              />
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6">
              <label>Địa chỉ</label>
              <input
                type="text"
                class="form-control"
              />
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6">
              <label>Website</label>
              <input
                type="text"
                class="form-control"
              />
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6">
              <label>Cán bộ hướng dẫn</label>
              <input
                type="text"
                class="form-control"
              />
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6">
              <label>Số điện thoại cán bộ hướng dẫn</label>
              <input
                type="text"
                class="form-control"
              />
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6">
              <label>Các công ty đã phỏng vấn</label>
              <textarea name="name-companies" cols="30"  class="w-100"></textarea>
            </div>
          </div>
        </form>
        <form v-if="intership === 'false'" @submit.prevent>
          <div class="form-row p-3">
            <div class="form-group col-sm-12 col-md-12 col-lg-12">
              <label>Những công ty đã phỏng vấn</label>
              <textarea name="name-companies" cols="30" rows="10" class="w-100"></textarea>
            </div>
          </div>
        </form>
        <div class="text-center "><button type="button" class="btn btn-success text-center">Xác nhận</button></div>
      </div>
    </div>
  </div>
</div>