<BaseModal @mouse-click-outside="closeModal(false)" :modalName="`TimeLineDetail`" :isShow="isShow" size="lg">
  <div class="">
    <div class="form-group row">
      <label class="col-md-4 col-sm-4 col-form-label">
        Đợt thực tập (<span class="text--red">*</span>)
      </label>
      <div class="col-md-8 col-sm-8">
        <select class="form-control" v-model="timeline.internshipCourseId">
          <option v-for="(item, index) in plans" :key="index" :value="item.id">{{ item.internshipCourseName }}</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-4 col-sm-4 col-form-label">
        Tiêu đề (<span class="text--red">*</span>)
      </label>
      <div class="col-md-8 col-sm-8">
        <input type="text" class="form-control" v-model="timeline.timeLineName" />
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-4 col-sm-4 col-form-label">
        Mô tả (<span class="text--red">*</span>)
      </label>
      <div class="col-md-8 col-sm-8">
        <input type="text" class="form-control" v-model="timeline.description" />
      </div>
    </div>

    <div class="form-group row">
      <label for="example-datetime-local-input" class="col-md-4 col-sm-4 col-form-label">Ngày bắt đầu</label>
      <div class="col-md-8 col-sm-8">
        <input class="form-control" type="date" value="" v-model="timeline.startDay">
      </div>
    </div>

    <div class="form-group row">
      <label for="example-datetime-local-input" class="col-md-4 col-sm-4 col-form-label">Ngày kết thúc</label>
      <div class="col-md-8 col-sm-8">
        <input class="form-control" type="date" value="" v-model="timeline.endDay">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-4 col-sm-4 col-form-label">Trạng thái</label>
      <div class="col-md-8 col-sm-8">
        <div class="input-group mb-3">
          <select class="form-control form-select form-select-class" v-model="timeline.status">
            <option value="active">Hoạt động</option>
            <option value="unactive">Không hoạt động</option>
          </select>
        </div>
      </div>
    </div>

  </div>

  <template #header>
    <h5>{{timeline.id ? "Cập nhật lớp" : "Thêm mới lớp"}}</h5>
    <button class="close" style="color: red;" @click="closeModal(false)">&times;</button>
  </template>

  <template #footer>
    <div class="form-inline form-group col-md-12 pr-0">
      <div class="col-form-label col-md-4 col-sm-4"></div>
      <div class="col-md-8 col-sm-8 pl-0 pr-0">
        <AlertMessages :messages="errorMessages" />
      </div>
    </div>

    <div class="form-inline form-group col-md-12 pr-0">
      <div class="col-form-label col-md-4 col-sm-4"></div>
      <div class="col-md-8 col-sm-8 pl-0 pr-0">
        <button @click="save"
          class="btn btn-primary float-right ml-2">{{timeline.id ? "Cập nhật" : "Thêm mới"}}</button>
        <button class="btn btn-dark float-right" @click="closeModal(false)">Hủy</button>
      </div>
    </div>
  </template>
</BaseModal>