<div class="row mt-4">
  <div class="col-12">
    <div class="card">
      <header class="card-header">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" role="img" class="c-icon">
          <path fill="var(--ci-primary-color, currentColor)"
            d="M47.547,63.547V448.453a16,16,0,0,0,16,16H448.453a16,16,0,0,0,16-16V63.547a16,16,0,0,0-16-16H63.547A16,16,0,0,0,47.547,63.547Zm288.6,16h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm-128.3-256.6h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm-128.3-256.6h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Z"
            class="ci-primary"></path>
        </svg> Danh sách kế hoạch
        <router-link :to="{name:'them-ke-hoach'}" class="btn btn-primary float-right">
          + Thêm mới
        </router-link>
      </header>
      <div class="card-body">
        <div class="row mb-3">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="form-row filter-wrapper ml-0 mr-0">
              <div class="col-xl-5 col-lg-5 col-md-4 col-sm-12 col-12">
                <input type="text" class="form-control" id="keywords" placeholder="Nhập từ khóa" />
              </div>
              <div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-12 ">
                <button type="submit" id="btn-search" class="btn btn-primary">Tìm kiếm</button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead class="">
              <tr>
                <th scope="col">STT</th>
                <th scope="col">Tên đợt</th>
                <th scope="col">Ngày bắt đầu</th>
                <th scope="col">Ngày kết thúc</th>
                <th scope="col">Thao tác</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in pageOfItems" :key="index">
                <th scope="row">{{ index + 1 }}</th>
                <th scope="row">{{ item.internshipCourseName }}</th>
                <td>{{ item.startDay }}</td>
                <td>{{ item.endDay }}</td>
                <td>
                  <router-link :to="{name:'sua-ke-hoach', params: { guid: item.id } }"
                    class="btn btn-primary mr-2">Sửa</router-link>
                </td>
              </tr>
              <tr v-show="pageOfItems == null || pageOfItems.length === 0">
                <th colspan="5" class="text-left">Không có dữ liệu nào được tìm thấy.</th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer d-flex justify-content-center text--blue">
        <JwPagination
          :items="plans"
          @changePage="onChangePage"
          :labels="customLabels"
          :pageSize="5">
        </JwPagination>  
      </div>
      <div class="button-continue">
        <router-link :to="{name:'ds-sinh-vien'}" class="btn-continue">
          Tiếp Tục
        </router-link>
      </div>
    </div>
  </div>
</div>