<div class="row">
  <div class="col-12">
    <div class="card">
      <header class="card-header">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" role="img" class="c-icon">
          <path fill="var(--ci-primary-color, currentColor)"
            d="M47.547,63.547V448.453a16,16,0,0,0,16,16H448.453a16,16,0,0,0,16-16V63.547a16,16,0,0,0-16-16H63.547A16,16,0,0,0,47.547,63.547Zm288.6,16h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm-128.3-256.6h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm-128.3-256.6h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Z"
            class="ci-primary"></path>
        </svg> Danh sách kế hoạch
        <button class="btn btn-primary float-right" @click="createPlan">+ Thêm mới</button>
      </header>
      <div class="card-body">
        <div class="row mb-3">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="form-row filter-wrapper ml-0 mr-0">
              <div class="col-xl-5 col-lg-5 col-md-4 col-sm-12 col-12 ">
                <div class="input-group">
                  <select class="custom-select" id="inputGroupSelect04">
                    <option value="1">Đang diễn ra</option>
                    <option value="2">Đã diễn ra</option>
                  </select>
                </div>
              </div>
              <div class="col-xl-5 col-lg-5 col-md-4 col-sm-12 col-12">
                <input type="text" class="form-control" id="keywords" placeholder="Nhập từ khóa" />
              </div>
              <div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-12 ">
                <button type="submit" id="btn-search" class="btn btn-primary">Tìm kiếm</button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead class="">
              <tr>
                <th scope="col">STT</th>
                <th scope="col">Tên đợt</th>
                <th scope="col">Ngày bắt đầu</th>
                <th scope="col">Ngày kết thúc</th>
                <th scope="col">Thao tác</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in plans" :key="index">
                <th scope="row">{{ index + 1 }}</th>
                <th scope="row">{{ item.internshipCourceName }}</th>
                <td>{{ item.startDay }}</td>
                <td>{{ item.endDay }}</td>
                <td>
                  <button class="btn btn-primary mr-2" @click="updatePlan(index)">Sửa</button>
                  <button class="btn btn-info mr-2" @click="showdetailPlan(index)">Chi tiết</button>
                </td>
              </tr>
              <tr v-show="plans == null || plans.length === 0">
                <th colspan="5" class="text-left">Không có dữ liệu nào được tìm thấy.</th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <PlanDetailComponent :data="editPlan" @change-data="changeData" />
      <PlanInformationComponent :data="detailPlan" @change-data="changeData" />
    </div>
  </div>
</div>