<BaseModal @mouse-click-outside="closeModal(false)" :modalName="`StudentManagementDetail`" :isShow="isShow"
size="lg">
  <div class="">
    <div class="form-group row">
      <label for="name" class="col-md-4 col-sm-4 col-form-label">
        MSSV (<span class="text--red">*</span>)
      </label>
      <div class="col-md-8 col-sm-8">
        <input type="text" class="form-control"
        v-model="student.studentId" />
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-4 col-sm-4 col-form-label">
        Họ và tên (<span class="text--red">*</span>)
      </label>
      <div class="col-md-8 col-sm-8">
        <input type="text" class="form-control" 
        v-model="student.name" />
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-4 col-sm-4 col-form-label">
        Email (<span class="text--red">*</span>)
      </label>
      <div class="col-md-8 col-sm-8">
        <input type="text" class="form-control" v-model="student.email" />
      </div>
    </div>
    

    <div class="form-group row">
      <label class="col-md-4 col-sm-4 col-form-label">Lớp </label>
      <div class="col-md-8 col-sm-8">
        <div class="input-group mb-3">
          <select class="form-control form-select form-select-class" id="inputGroupSelect02"
          v-model="student.classId">
            <option selected>Choose...</option>
            <option value="1">CDTH18A</option>
            <option value="2">CDTH18B</option>
            <option value="3">CDTH18C</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-4 col-sm-4 col-form-label">Khóa học </label>
      <div class="col-md-8 col-sm-8">
        <div class="input-group mb-3">
          <select class="form-control form-select form-select-class" id="inputGroupSelect02"
          v-model="student.role">
            <option selected>Choose...</option>
            <option value="1">18</option>
            <option value="2">19</option>
            <option value="3">20</option>
          </select>

        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-4 col-sm-4 col-form-label">Giới tính</label>
      <div class="col-md-8 col-sm-8">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <label class="form-check-label" for="inlineRadio1">Nam</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
          <label class="form-check-label" for="inlineRadio2">Nữ</label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-4 col-sm-4 col-form-label">Ngày sinh </label>
      <div class="col-md-8 col-sm-8">
        <input class="form-control brith-day" type="date" id="start" name="trip-start"
          value="2018-07-22"
          min="2018-01-01" max="2018-12-31"
          v-model="student.dayOfBirth">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-4 col-sm-4 col-form-label">Đợt thực tập </label>
      <div class="col-md-8 col-sm-8">
        <div class="input-group mb-3">
          <select class="form-control form-select form-select-class" id="inputGroupSelect02"
          v-model="student.internshipCourseId">
            <option selected>Choose...</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-4 col-sm-4 col-form-label">Trạng thái </label>
      <div class="col-md-8 col-sm-8">
        <div class="input-group mb-3">
          <select class="form-control form-select form-select-class" v-model="student.status">
            <option value="1">Hiển thị</option>
            <option value="2">Ẩn</option>
          </select>
        </div>
      </div>
    </div>

  </div>

  <template #header>
    <h5>{{student.id ? "Cập nhật sinh viên" : "Thêm mới sinh viên"}}</h5>
    <button class="close text--red" @click="closeModal(false)">&times;</button>
  </template>

  <template #footer>
    <div class="form-inline form-group col-md-12 pr-0"
      v-show="errorMessages.length > 0">
      <div class="col-form-label col-md-4 col-sm-4"></div>
      <div class="col-md-8 col-sm-8 pl-0 pr-0">
        <AlertMessages :messages="errorMessages" />
      </div>
    </div>

    <div class="form-inline form-group col-md-12 pr-0">
      <div class="col-form-label col-md-4 col-sm-4"></div>
      <div class="col-md-8 col-sm-8 pl-0 pr-0">
        <button
          @click="save"
          class="btn btn-primary float-right ml-2">{{student.id ? "Cập nhật" : "Thêm mới"}}</button>
        <button class="btn btn-dark float-right" @click="closeModal(false)">Hủy</button>
      </div>
    </div>
  </template>
</BaseModal>