<div class="row">
  <div class="col-6">
    <!-- <ListTeacherAssignmentComponent /> -->
    <h2>Id của đợt là  {{guid}}</h2>
    <div id="root" class="container row">
      <Tabs>
        <Tab name="Services" :selected="true">
          <h1>What we do</h1>
        </Tab>
        <Tab name="Pricing">
          <h1>How much we do it for</h1>
        </Tab>
        <Tab name="About Us">
          <h1>Why we do it</h1>
        </Tab>
      </Tabs>
    </div>
  </div>
  <!-- end panel left -->
  <div class="col-6">
    <!-- <ListStudentComponent /> -->
  </div>
</div>
