<div class="assignment">
  <div>
    <Statistical
     v-bind:internshipCourseId="internshipCourseId"
     v-bind:classes="classes"
     v-bind:teachers="teachers"
     />
  </div>
  <div id="root" class="">
    <Tabs>
      <Tab name="Danh sách sinh viên đã được phân công" :selected="true">
        <ListTeacherAssignmentComponent
          v-bind:classes="classes"
          v-bind:teachers="teachers"
        />
      </Tab>
      <Tab name="Phân công">
        <ManualAssignment 
        v-bind:internshipCourseId="internshipCourseId"
        v-bind:classes="classes"
        v-bind:teachers="teachers"
        />
      </Tab>
    </Tabs>
  </div>
</div>
