<div class="row">
  <div class="col-12">
    <div class="card">
      <header class="card-header">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" role="img" class="c-icon">
          <path fill="var(--ci-primary-color, currentColor)"
            d="M47.547,63.547V448.453a16,16,0,0,0,16,16H448.453a16,16,0,0,0,16-16V63.547a16,16,0,0,0-16-16H63.547A16,16,0,0,0,47.547,63.547Zm288.6,16h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm-128.3-256.6h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm-128.3-256.6h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Z"
            class="ci-primary"></path>
        </svg> Danh sách khóa
        <button class="btn btn-primary float-right" @click="createCourse">+ Thêm mới</button>
      </header>
      <div class="card-body">
        <div class="row mb-3">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="form-row filter-wrapper ml-0 mr-0">
              <div class="col-xl-2 col-md-2 col-sm-12 mb-sm-2">
                <select @change="getCoursesFilterAsync" class="form-control form-select form-select-class"
                  name="careersId" id="careersId" v-model="filter.careersId">
                  <option v-for="(item,index) in careers" :key="index" :value="item.id">
                    {{item.careersName }}</option>
                </select>
              </div>
              <div class="col-xl-2 col-md-2 col-sm-12 mb-sm-2">
                <select @change="getCoursesFilterAsync" 
                  class="form-control form-select form-select-class"
                  v-model="filter.status">
                  <option value="">Tất cả</option>
                  <option value="active">Đang hoạt động</option>
                  <option value="unactive">Không hoạt động</option>
                </select>
              </div>
              <div class="col-xl-4 col-md-4 col-sm-12 mb-sm-2">
                <input type="text" class="form-control" 
                  id="keywords" placeholder="Nhập từ khóa"
                  v-model="filter.courseName" />
              </div>
              <div class="col-xl-2 col-md-4 col-sm-12">
                <button type="submit" id="btn-search" class="btn btn-primary"
                  @click="getCoursesFilterAsync">Tìm kiếm</button>
              </div>

            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead class="">
              <tr>
                <th scope="col">STT</th>
                <th scope="col">Tên khóa</th>
                <th scope="col">Ngành</th>
                <th scope="col">Hệ</th>
                <th scope="col">Trạng thái</th>
                <th scope="col">Thao tác</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in pageOfItems" :key="index">
                <th scope="row">{{ index + 1 }}</th>
                <td>{{ item.courseName }}</td>
                <td v-if="careers.length != 0">
                  {{ getInfoObject(item.careersId, careers).careersName  }}
                </td>
                <td v-if="careers.length != 0 && trainingSystems.length != 0">
                  {{ getInfoObject(
                    (getInfoObject(item.careersId, careers).trainingSystemId), trainingSystems)
                    .trainingSystemName }}
                </td>
                <td>
                  <button class="btn btn-danger mr-2" 
                    @click="updateStatus(index)"
                    v-if="item.status == 'unactive'">
                    <i :class="getStatusIcon(item.status)"></i>
                  </button>
                  <button class="btn btn-warning mr-2" 
                    @click="updateStatus(index)"
                    v-if="item.status == 'active'">
                    <i :class="getStatusIcon(item.status)"></i>
                  </button>
                </td>
                <td>
                  <button class="btn btn-success mr-2" @click="updateCourse(index)">Sửa</button>
                </td>
              </tr>
              <tr v-show="pageOfItems == null || pageOfItems.length === 0">
                <th colspan="5" class="text-left">
                  Không có dữ liệu nào được tìm thấy.
                </th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <CourseManagementDetailComponent 
        :data="editCourse" @change-data="changeData"
        :careers="careers" />

      <ConfirmDialog 
        :data="confirmCourse" @agree="deleteCourseConfirm"></ConfirmDialog>

      <div class="card-footer d-flex justify-content-center text--blue"
        v-show="pageOfItems == null || pageOfItems.length === 0">
        <JwPagination 
          :items="courses" @changePage="onChangePage"
          :labels="customLabels" :pageSize="5">
        </JwPagination>
      </div>
    </div>
  </div>
</div>