<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class="">
              <tr>
                <th scope="col">STT</th>
                <th scope="col">Username</th>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Email</th>
                <th scope="col">FullName</th>
                <th scope="col">Đăng nhập lần cuối</th>
                <th scope="col">Quyền hạn</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(user, index) in pageOfItems" :key="index">
                <th scope="row">{{index + 1}}</th>
                <td>{{user.userName}}</td>
                <td>{{user.name}}</td>
                <td>{{user.surname}}</td>
                <td>{{user.emailAddress}}</td>
                <td>{{user.fullName}}</td>
                <td>{{user.lastLoginTime}}</td>
                <td>{{user.roleNames[0]}}</td>               
              </tr>
              <tr v-show="pageOfItems == null || pageOfItems.length === 0">
                <th colspan="8" class="text-left">
                  Không có dữ liệu nào được tìm thấy.
                </th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer d-flex justify-content-center text--blue">
        <JwPagination
        :items="users"
        @changePage="onChangePage"
        :labels="customLabels"
        :pageSize="20"
        >
        </JwPagination>
      </div>
    </div>
  </div>
</div>
