<div class="row">
  <div class="col-12">
    <div class="card">
      <header class="card-header">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" role="img" class="c-icon">
          <path fill="var(--ci-primary-color, currentColor)"
            d="M47.547,63.547V448.453a16,16,0,0,0,16,16H448.453a16,16,0,0,0,16-16V63.547a16,16,0,0,0-16-16H63.547A16,16,0,0,0,47.547,63.547Zm288.6,16h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm-128.3-256.6h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm-128.3-256.6h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Z"
            class="ci-primary"></path>
        </svg> Danh sách sinh viên chưa phân công
      </header>
      <div class="card-body">
        <div class="row mb-3">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="form-row filter-wrapper ml-0 mr-0">
              <div class="col-xl-4 col-md-4 col-sm-12 mb-sm-2">
                <label for="keywords">Lớp</label>
                <select class="form-control">
                  <option>Lớp CDTH18a</option>
                </select>
              </div>    
              <div class="col-xl-4 col-md-4 col-sm-12 mb-sm-2 ">
                <div class="information-internship-course">
                  <div class="information-assignment__text">Tổng số giáo viên trong đợt thực tập: {{this.statistical.numberTeachers}}</div>
                  <div class="information-assignment__text">Tổng số sinh viên trong đợt thực tập: 20</div>           
                  <div class="information-assignment__text">Tổng số sinh viên chưa được phân công: {{this.statistical.numberStudentsUnassigned}}</div>  
              </div>
            </div>
              <div class="col-xl-4 col-md-4 col-sm-12 mb-sm-2 ">
                <div class="information-student-unassigned">
                  <div class="information-assignment__text">Lớp CDTH18A: 20 sinh viên chưa phân công</div>                    
                  <div class="information-assignment__text">Lớp CDTH18B: 20 sinh viên chưa phân công</div>                    
                  <div class="information-assignment__text">Lớp CDTH18C: 20 sinh viên chưa phân công</div>                    
                  <div class="information-assignment__text">Lớp CDTH18D: 20 sinh viên chưa phân công</div> 
              </div>               
              </div>                        
            </div>           
          </div>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead class="">
              <tr>
                <th scope="col">Chọn</th>
                <th scope="col">STT</th>
                <th scope="col">MSSV</th>
                <th scope="col">Tên sinh viên</th>
                <th scope="col">Lớp</th>
                <th scope="col">Giáo viên</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  <input type="checkbox" name="" id="">
                </th>
                <th scope="row">1</th>
                <td>0306181001</td>
                <td>Nguyễn Văn A</td>
                <td>CĐ TH 18PMA</td>
                <td>
                  <select class="form-control" name="" id="">
                    <option value="1">GV Tran Thi A</option>
                    <option value="1">GV Tran Thi B</option>
                    <option value="1">GV Tran Thi C</option>
                    <option value="1">GV Tran Thi D</option>
                  </select>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <input type="checkbox" name="" id="">
                </th>
                <th scope="row">1</th>
                <td>0306181001</td>
                <td>Nguyễn Văn A</td>
                <td>CĐ TH 18PMA</td>
                <td>
                  <select class="form-control" name="" id="">
                    <option value="1">GV Tran Thi A</option>
                    <option value="1">GV Tran Thi B</option>
                    <option value="1">GV Tran Thi C</option>
                    <option value="1">GV Tran Thi D</option>
                  </select>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <input type="checkbox" name="" id="">
                </th>
                <th scope="row">1</th>
                <td>0306181001</td>
                <td>Nguyễn Văn A</td>
                <td>CĐ TH 18PMA</td>
                <td>
                  <select class="form-control" name="" id="">
                    <option value="1">GV Tran Thi A</option>
                    <option value="1">GV Tran Thi B</option>
                    <option value="1">GV Tran Thi C</option>
                    <option value="1">GV Tran Thi D</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>     
    </div>
  </div>
</div>