<div class="row">
  <div class="col-12">
    <div class="card">
      <header class="card-header">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" role="img" class="c-icon">
          <path fill="var(--ci-primary-color, currentColor)"
            d="M47.547,63.547V448.453a16,16,0,0,0,16,16H448.453a16,16,0,0,0,16-16V63.547a16,16,0,0,0-16-16H63.547A16,16,0,0,0,47.547,63.547Zm288.6,16h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm-128.3-256.6h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm-128.3-256.6h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Z"
            class="ci-primary"></path>
        </svg> Danh sách sinh viên
        <button class="btn btn-primary float-right btn-search"          
          @click="createBrand">+ Thêm mới</button>
        <button class="btn btn-warning float-right btn-add-file" 
          @click="showNotification">+ Thêm file</button>
      </header>
      <div class="card-body">
        <div class="row mb-3">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="form-row filter-wrapper ml-0 mr-0">
              <div class="col-xl-5 col-lg-5 col-md-4 col-sm-12 col-12">
                <input type="text" class="form-control" id="keywords" placeholder="Nhập từ khóa" />
              </div>
              <div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-12 ">
                <button type="submit" id="btn-search" class="btn btn-primary">Tìm kiếm</button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead class="">
              <tr>
                <th scope="col">STT</th>
                <th scope="col">MSSV</th>
                <th scope="col">Tên sinh viên</th>
                <th scope="col">Lớp</th>
                <th scope="col">Khóa</th>
                <th scope="col">Email</th>
                <th scope="col">Giới tính</th>
                <th scope="col">Ngày sinh</th>
                <th scope="col">Đợt thực tập</th>
                <th scope="col">Trạng thái</th>
                <th scope="col">Thao tác</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in listStudent" :key="index">
                <th scope="row">{{ index + 1 }}</th>
                <td>0306181069</td>
                <td>{{ item.firstName + ' ' + item.lastName }}</td>
                <td>CDTH18PMA</td>
                <td>18</td>
                <td>{{ item.email }}</td>
                <td>Nam</td>
                <td>09/03/2000</td>
                <td>1</td>
                <td>Đang cập nhật</td>
                <td>
                  <button class="btn btn-primary mr-2"
                    @click="updateStudent(index)">Sửa</button>
                  <button class="btn btn-danger"
                    @click="deleteStudent(item.id)">Xóa</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <StudentManagementDetailComponent
        :data="editData"
        @change-data="changeData" />

      <ConfirmDialog :data="confirmData" @agree="agreeConfirm"></ConfirmDialog>

      <Pagination :position="`center`" :page="1" :pageSize="10" :totalItems="17" @change-page="changePage"></Pagination>
    </div>
  </div>  
</div>