<div class="row">
  <div class="col-12">
    <div class="card">
      <header class="card-header">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" role="img" class="c-icon">
          <path fill="var(--ci-primary-color, currentColor)"
            d="M47.547,63.547V448.453a16,16,0,0,0,16,16H448.453a16,16,0,0,0,16-16V63.547a16,16,0,0,0-16-16H63.547A16,16,0,0,0,47.547,63.547Zm288.6,16h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm-128.3-256.6h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm-128.3-256.6h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Z"
            class="ci-primary"></path>
        </svg>
        <span>Thống kê xác nhận thực tập</span>
      </header>
      <div class="card-body">
        <div class="row mb-3">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="form-row filter-wrapper ml-0 mr-0">
              <div class="col-xl-2 col-md-2 col-sm-12 mb-sm-2">
                <label for="">Đợt thực tập:</label>
                <select class="form-control form-select form-select-class">
                  <option value="">Tất cả</option>
                </select>
              </div>
              <div class="col-xl-2 col-md-2 col-sm-12 mb-sm-2">
                <label for="">Lớp:</label>
                <select class="form-control form-select form-select-class">
                  <option value="">Tất cả</option>
                </select>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12">
                <label for="">Từ khóa:</label>
                <input type="text" class="form-control" id="keywords" placeholder="Nhập từ khóa" />
              </div>
              <div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-12 ">
                <label for="">&ensp;</label>
                <div class="mb-2">&ensp;</div>
                <button type="submit" id="btn-search" class="btn btn-primary">Tìm kiếm</button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead class="">
              <tr>
                <th scope="col">STT</th>
                <th scope="col" class="align-middle">Thông tin sinh viên</th>
                <th scope="col" class="align-middle">Thông tin công ty</th>
                <th scope="col" class="align-middle">Trạng thái</th>
                <th scope="col" class="align-middle">Hoạt động</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in internshipConfirmations" :key="index">
                <th scope="row">
                  <div>{{index + 1}}</div>
                </th>
                <td>
                  <div><strong>MSSV:</strong> {{item.studentId}}</div>
                  <div>
                    <strong>Họ tên sinh viên:</strong>
                    {{ getStudent(item.studentId).firstName }}
                    {{getStudent(item.studentId).lastName}}
                  </div>
                  <div>
                    <strong>lớp:</strong>
                    {{ getNameClass(item.studentId) }}
                  </div>
                </td>
                <td>
                  <div>
                    <strong>Mã số thuế:</strong> {{ item.taxCode }}.
                  </div>
                  <div>
                    <strong>Tên công ty:</strong> {{ item.title }}.
                  </div>
                </td>
                <td>
                  <button v-if="item.status === 'practiced'" class="btn btn-success not-active">
                    Đang thực tập
                  </button>
                  <button v-if="item.status === 'notPracticed'" class="btn btn-danger not-active">
                    Chưa thực tập
                  </button>
                </td>
                <td>
                  <button class="btn btn-primary">
                    Xem chi tiết
                  </button>
                </td>
              </tr>
              <tr v-show="internshipConfirmations == null || internshipConfirmations.length === 0">
                <th colspan="5" class="text-left">
                  Không có dữ liệu nào được tìm thấy.
                </th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer d-flex justify-content-center text--blue"
        v-show="pageOfItems == null || pageOfItems.length === 0">
        <JwPagination :items="internshipConfirmations" @changePage="onChangePage" :labels="customLabels" :pageSize="5">
        </JwPagination>
      </div>
    </div>
  </div>
</div>