<BaseModal @mouse-click-outside="closeModal(false)" :modalName="`TeacherAssignmentDetailComponent`" :isShow="isShow">
  <div class="">
    <div class="form-group row">
      <label class="col-md-4 col-sm-4 col-form-label">Đợt thực tập</label>
      <div class="col-md-8 col-sm-8">
        <select class="form-control">
          <option>Đợt 1</option>
          <option>Đợt 2</option>
          <option>Đợt 3</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-4 col-sm-4 col-form-label">Lớp</label>
      <div class="col-md-8 col-sm-8">
        <select class="form-control">
          <option>CĐTH18PMA</option>
          <option>CĐTH18PMB</option>
          <option>CĐTH18PMC</option>
          <option>CĐTH18MMT</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-4 col-sm-4 col-form-label">Tên sinh viên</label>
      <div class="col-md-8 col-sm-8">
        <select class="form-control">
          <option>Nguyễn Văn A</option>
          <option>Trần Thị C</option>
          <option>Phạm Văn R</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-4 col-sm-4 col-form-label">Tên giáo viên</label>
      <div class="col-md-8 col-sm-8">
        <select class="form-control">
          <option>Phạm Thị Thu</option>
          <option>Nguyễn Thị E</option>
          <option>Huỳnh Văn P</option>
        </select>
      </div>
    </div>

  </div>

  <template #header>
    <h5>Thêm mới phân công</h5>
    <button class="close" style="color: red;" @click="closeModal(false)">&times;</button>
  </template>

  <template #footer>
    <div class="form-inline form-group col-md-12 pr-0">
      <div class="col-form-label col-md-4 col-sm-4"></div>
      <div class="col-md-8 col-sm-8 pl-0 pr-0">

      </div>
    </div>

    <div class="form-inline form-group col-md-12 pr-0">
      <div class="col-form-label col-md-4 col-sm-4"></div>
      <div class="col-md-8 col-sm-8 pl-0 pr-0">
        <button class="btn btn-primary float-right ml-2">Lưu</button>
      </div>
    </div>
  </template>
</BaseModal>