<div
    style="font-family:'arial' , 'helvetica' , sans-serif; margin:0 auto;font-size:14px; background: #fff; padding: 10px;">
    <header>
        <div style="display: flex; justify-content: space-around;">
            <div class="block-image-logo" style="width: 30%;">
                <img src="../../../assets/img/ct_logo.png" alt="" style="width: 60%" />
            </div>
            <div>
                <div class="name-school" style="color: #EB5757; font-size: 20px; font-weight: 700; margin-top: 15px;">
                    TRƯỜNG CAO ĐẲNG KỸ THUẬT CAO THẮNG
                </div>
                <div style="color: #3F83C4; font-size: 20px; font-weight: 700; text-align: center;">
                    KHOA CÔNG NGHỆ THÔNG TIN
                </div>
            </div>
        </div>
        <div
            style="background-color: #3F83C4; color: #fff; padding: 5px; font-size: 20px; font-weight: 700; padding-right: 60px;  text-align: end;">
            0838212360
        </div>
    </header>
    <slot></slot>
    <footer>
        <div style="background-color: #3F83C4; color: #fff; padding: 5px; font-size: 20px; font-weight: 700; padding-left: 10px;
    margin-top: 30px;">
            Information Technology Cao Thang
        </div>
        <div style="margin-top: 5px;">
            <div class="block-contact" style="color: #3F83C4; font-weight: 700;">
                <div class="contact">
                    Địa chỉ: Lầu 7 (Dãy nhà F) 65 Huỳnh Thúc Kháng, P.Bến Nghé, Q.1, Tp Hồ Chí Minh
                </div>
                <div class="phone">
                    Số điện thoại: 0838212360
                </div>
                <div class="website">
                    website: www.internshipct.vn
                </div>
            </div>
        </div>
    </footer>
</div>