<div class="row">
  <div class="col-12">
    <div class="card">
      <header class="card-header">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" role="img" class="c-icon">
          <path fill="var(--ci-primary-color, currentColor)"
            d="M47.547,63.547V448.453a16,16,0,0,0,16,16H448.453a16,16,0,0,0,16-16V63.547a16,16,0,0,0-16-16H63.547A16,16,0,0,0,47.547,63.547Zm288.6,16h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm-128.3-256.6h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm-128.3-256.6h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Z"
            class="ci-primary"></path>
        </svg>
        <span v-if="isAdmin === false">Đăng ký giấy giới thiệu thực tập</span>
        <span v-if="isAdmin === true">Duyệt giấy giới thiệu thực tập</span>
        <button v-if="isAdmin === false" class="btn btn-primary float-right" @click="createCertificates">+ Đăng
          ký</button>
      </header>
      <div class="card-body">
        <div class="row mb-3">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="form-row filter-wrapper ml-0 mr-0">
              <div v-if="isAdmin" class="col-xl-2 col-md-2 col-sm-12 mb-sm-2">
                <label for="">Lớp:</label>
                <select class="form-control form-select form-select-class" v-model="filterCerticate.classId">
                  <option value="">Tất cả</option>
                  <option v-for="(item, index) in classById" :key="index" :value="item.id">{{item.className}}</option>
                </select>
              </div>
              <div v-if="isAdmin" class="col-xl-2 col-md-2 col-sm-12 mb-sm-2">
                <label for="">Trạng thái:</label>
                <select class="form-control form-select form-select-class" v-model="filterCerticate.status">
                  <option value="">Tất cả</option>
                  <option value="unconfirmed">Đang duyệt</option>
                  <option value="confirmed">Đã duyệt</option>
                  <option value="complete">Đã in</option>
                </select>
              </div>
              <div v-if="!isAdmin" class="col-xl-2 col-md-2 col-sm-12 mb-sm-2" @change="changeStatusFilterCerticate()">
                <label for="">Trạng thái:</label>
                <select class="form-control form-select form-select-class" v-model="filterCerticate.status">
                  <option value="">Tất cả</option>
                  <option value="unconfirmed">Đang duyệt</option>
                  <option value="confirmed">Đã duyệt</option>
                  <option value="complete">Đã in</option>
                </select>
              </div>
              <div v-if="isAdmin" class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12">
                <label for="">Từ khóa:</label>
                <input type="text" class="form-control" id="keywords" placeholder="Nhập từ khóa"
                  v-model="filterCerticate.keyword" />
              </div>
              <div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-12 " v-if="isAdmin">
                <label for="">&ensp;</label>
                <div class="mb-2">&ensp;</div>
                <button @click="getCertificatesAsync(filterCerticate)" type="submit" id="btn-search"
                  class="btn btn-primary">Tìm kiếm</button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-hover">
            <caption></caption>
            <thead class="">
              <tr>
                <th v-if="isAdmin === true" scope="col" class="align-middle">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="all" :value="-1"
                      @change="selectUpdateCertificate">
                    <label class="form-check-label" for="all">STT</label>
                  </div>
                </th>
                <th v-if="isAdmin === false" scope="col">STT</th>
                <th scope="col" class="align-middle">Thông tin sinh viên</th>
                <th scope="col" class="align-middle">Thông tin công ty</th>
                <th scope="col" class="align-middle">Trạng thái</th>
                <th v-if="!isAdmin" scope="col" class="align-middle">Thao tác</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in pageOfItems" :key="index">
                <th scope="row">
                  <div v-if="isAdmin" class="form-check form-check-inline">
                    <input class="form-check-input" @change="selectUpdateCertificate" :value="item.id" type="checkbox"
                      :id="index">
                    <label class="form-check-label" :for="index"> {{index + 1}}</label>
                  </div>
                  <div v-if="isAdmin === false">{{index + 1}}</div>
                </th>
                <td>
                  <div><strong>MSSV:</strong> {{item.mssv}}</div>
                  <div>
                    <strong>Họ tên sinh viên:</strong>
                    {{ getStudent(item.mssv).firstName }}
                    {{getStudent(item.mssv).lastName}}
                  </div>
                  <div>
                    <strong>lớp:</strong>
                    {{ getNameClass(item.classId) }}
                  </div>
                  <div>
                    <strong>Số điện thoại:</strong>
                    {{ item.phoneNumberOfStudent }}
                  </div>
                  <div>
                    <strong>Ngày đăng ký giấy: </strong>
                    {{ convertTime(item.creationTime) }}
                  </div>
                </td>
                <td>
                  <div>
                    <strong>Mã số thuế:</strong> {{ item.taxCode }}.
                  </div>
                  <div>
                    <strong>Tên công ty:</strong> {{ item.companyName }}.
                  </div>
                  <div>
                    <strong>Xác nhận công ty:</strong> {{ confirmationCompany(item.taxCode) }}.
                  </div>
                </td>
                <td v-if="isAdmin === false">
                  <button v-if="item.status === 'unconfirmed'" class="btn btn-warning not-active">
                    Đang duyệt
                  </button>
                  <button v-if="item.status === 'confirmed'" class="btn btn-primary not-active">
                    Đã duyệt
                  </button>
                  <button v-if="item.status === 'complete'" class="btn btn-success not-active">Đã in
                  </button>
                </td>
                <td v-if="isAdmin === true">
                  <select :disabled="item.status ===''" name="status" id="group" class="form-control mb-2 select-type"
                    @change="changeStatus($event, index)">
                    <option :selected="item.status === 'unconfirmed'" value="unconfirmed">Đang duyệt</option>
                    <option :selected="item.status === 'confirmed'" value="confirmed">Đã duyệt</option>
                    <option :selected="item.status === 'complete'" value="complete">Đã in</option>
                  </select>
                </td>
                <td :class="{'text-center':isAdmin === true}">
                  <button v-if="isAdmin === false" :disabled="item.status !== 'unconfirmed'"
                    class="btn btn-primary mr-1" @click="updateCertificate(index)"> <em class="fa fa-edit"></em>
                  </button>
                  <button v-if="isAdmin === false" :disabled="item.status !== 'unconfirmed'" class="btn btn-danger"
                    @click="deleteCertificate(item.id, index)"> <em class="fa fa-trash"></em>
                  </button>
                </td>
              </tr>
              <tr v-show="pageOfItems == null || pageOfItems.length === 0">
                <th colspan="5" id="" class="text-left">
                  Không có dữ liệu nào được tìm thấy.
                </th>
              </tr>
            </tbody>
          </table>
          <hr>
          <div class="form-group text-center d-flex justify-content-center">
            <select class="form-control w-25" id="exampleFormControlSelect1" v-model="selectUpdateCertificates.status">
              <option selected value="unconfirmed">Đang duyệt</option>
              <option value="confirmed">Đã duyệt</option>
              <option value="complete">Đã in</option>
            </select>
              <button @click="updateStatusCertificatesAsync" type="button" class="btn btn-primary ml-2 w-25">Cập nhật trạng thái</button>
          </div>
        </div>
      </div>
      <CertificateDetailComponent :data="editCertificate" @change-data="changeData"
        @changeCompanies="changeCompanies" />

      <div class="card-footer d-flex justify-content-center text--blue"
        v-show="pageOfItems == null || pageOfItems.length === 0">
        <JwPagination :items="certificates" @changePage="onChangePage" :labels="customLabels" :pageSize="5">
        </JwPagination>
        <ConfirmDialog :data="confirmedCertificate" @agree="agreeConfirm"></ConfirmDialog>
      </div>

    </div>
  </div>
  <div class="col-12">
    <div class="card">
      <header class="card-header">
        <h4>Thống kê phiếu giới thiệu</h4>
      </header>
      <div class="card-body">
        <div class="form-row mb-2 filter-wrapper">
          <div class="col-sm-12 col-md-6 col-lg-3">
            <label for="">Đợt thực tập:</label>
            <SelectPlan :isRequired="false" v-model="filterChart.internshipCourseId" :plans="plans"
              :defaultText="'Tất cả'" @change="(event) => {filterChart.internshipCourseId = event.id}">
            </SelectPlan>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3">
            <label class="d-sm-block d-none" style="height: 21px;">&nbsp;</label>
            <button type="submit" id="btn-search" class="btn btn-stack-overflow" title="Tìm kiếm"
              @click="showchartAsnyc()">
              <em class="fas fa-search"></em>
            </button>
          </div>
        </div>
        <div v-if="statisticalCertificate.length>0">
          <highcharts class="chart" :constructor-type="'chart'" :options="chartOptions">
          </highcharts>
        </div>
      </div>
    </div>
  </div>
</div>