<div class="row">
  <div class="col-12">
    <div class="card">
      <header class="card-header">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" role="img" class="c-icon">
          <path fill="var(--ci-primary-color, currentColor)"
            d="M47.547,63.547V448.453a16,16,0,0,0,16,16H448.453a16,16,0,0,0,16-16V63.547a16,16,0,0,0-16-16H63.547A16,16,0,0,0,47.547,63.547Zm288.6,16h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm-128.3-256.6h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm-128.3-256.6h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Z"
            class="ci-primary"></path>
        </svg>
        <span v-if="isAdmin === false">Đăng ký giấy giới thiệu thực tập</span>
        <span v-if="isAdmin === true">Duyệt giấy giới thiệu thực tập</span>
        <button v-if="isAdmin === false" class="btn btn-primary float-right" @click="createCertificates">+ Đăng
          ký</button>
      </header>
      <div class="card-body">
        <div class="row mb-3">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="form-row filter-wrapper ml-0 mr-0">
              <div class="col-xl-5 col-lg-5 col-md-4 col-sm-12 col-12">
                <input type="text" class="form-control" id="keywords" placeholder="Nhập từ khóa" />
              </div>
              <div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-12 ">
                <button type="submit" id="btn-search" class="btn btn-primary">Tìm kiếm</button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead class="">
              <tr>
                <th scope="col" class="align-middle">STT</th>
                <th scope="col" class="align-middle">Thông tin sinh viên</th>
                <th scope="col" class="align-middle">Thông tin công ty</th>
                <th scope="col" class="align-middle">Ngày đăng ký</th>
                <th scope="col" class="align-middle">Trạng thái</th>
                <th scope="col" class="align-middle">Hoạt động</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in pageOfItems" :key="index">
                <th scope="row">{{ index + 1 }}</th>
                <td>
                  <div><strong>MSSV:</strong> {{
                    getInfoObject(item.studentId, students).studentId}}
                  </div>
                  <div>
                    <strong>Họ tên sinh viên:</strong>
                    {{ getInfoObject(item.studentId, students).firstName }}
                    {{getInfoObject(item.studentId, students).lastName}}.
                  </div>
                  <div>
                    <strong>lớp:</strong>
                    {{ getNameClass(getInfoObject(item.studentId, students).classId) }}.
                  </div>
                  <div>
                    <strong>Số điện thoại:</strong>
                    {{ item.phoneNumberOfStudent }}.
                  </div>
                </td>
                <td>
                  <div>
                    <strong>Mã số thuế:</strong> {{ item.taxCode }}.
                  </div>
                  <div>
                    <strong>Tên công ty:</strong> {{ item.companyName }}.
                  </div>
                </td>
                <td>{{ convertTime(item.registrationDate) }}</td>
                <td v-if="isAdmin === false">
                  <button 
                      v-if="item.status === 'unconfirmed'"
                      class="btn btn-warning not-active">
                      Đang duyệt
                  </button>
                  <button 
                    v-if="item.status === 'confirmed'"
                    class="btn btn-primary not-active">
                    Đã duyệt
                  </button>
                  <button
                    v-if="item.status === 'complete'"
                    class="btn btn-success not-active">Đã in
                  </button>
                </td>
                <td v-if="isAdmin === true">
                  <select name="status" id="group" class="form-control mb-2 select-type"       @change="changeStatus($event, index)">
                    <option :selected="item.status === 'unconfirmed'" value="unconfirmed">Đang duyệt</option>
                    <option :selected="item.status === 'confirmed'" value="confirmed">Đã duyệt</option>
                    <option :selected="item.status === 'complete'" value="complete">Đã in</option>
                  </select>
                </td>
                <td :class="{'text-center':isAdmin === true}">
                  <button 
                    v-if="isAdmin === false"
                    :disabled="item.status === 'confirmed' && item.status === 'complete' " 
                    class="btn btn-primary mr-1"
                    @click="updateCertificate(index)"> <em class="fa fa-edit"></em>
                  </button>
                  <button
                    v-if="isAdmin === false" 
                    :disabled="item.status === 'confirmed' && item.status === 'complete'" 
                    class="btn btn-danger"
                    @click="deleteCertificate(item.id, index)"> <em class="fa fa-trash"></em>
                  </button>
                  <button
                    @click="updateCertificateAsync(index)"
                    v-if="isAdmin === true"  
                    class="btn btn-primary"
                   ><em class="fa fa-edit"></em></button> 
                  </button>
                </td>
              </tr>
              <tr v-show="pageOfItems == null || pageOfItems.length === 0">
                <th colspan="5" class="text-left">
                  Không có dữ liệu nào được tìm thấy.
                </th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <CertificateDetailComponent :data="editCertificate" />

      <div class="card-footer d-flex justify-content-center text--blue"
        v-show="pageOfItems == null || pageOfItems.length === 0">
        <JwPagination :items="certificates" @changePage="onChangePage" :labels="customLabels" :pageSize="5">
        </JwPagination>
        <ConfirmDialog :data="confirmedCertificate" @agree="agreeConfirm"></ConfirmDialog>
      </div>
    </div>
  </div>
</div>