<div class="row notifications">
  <div class="col-12">
    <div class="card">
      <header class="card-header">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" role="img" class="c-icon">
          <path fill="var(--ci-primary-color, currentColor)"
            d="M47.547,63.547V448.453a16,16,0,0,0,16,16H448.453a16,16,0,0,0,16-16V63.547a16,16,0,0,0-16-16H63.547A16,16,0,0,0,47.547,63.547Zm288.6,16h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm-128.3-256.6h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm-128.3-256.6h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Z"
            class="ci-primary"></path>
        </svg> Thông báo
        <!-- <button class="btn btn-primary float-right" @click="createBrand">+ Thêm mới</button> -->
        <router-link :to="{name:'them-thong-bao'}" class="btn btn-primary float-right"
          title="Thêm mới">
          <i class="fa fa-plus-square"></i>
        </router-link>
      </header>
      <div class="card-body">
        <div class="row mb-3">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="form-row filter-wrapper ml-0 mr-0">
              <div class="col-xl-4 col-md-4 col-sm-12 mb-sm-2">
                <div class="input-group">
                  <input type="text" class="form-control" id="keywords"
                    placeholder="Nhập từ khóa tiêu đề thông báo"
                    v-model="filterNotify.title" />
                </div>
              </div>
              <div class="col-xl-4 col-md-4 col-sm-12 mb-sm-2">
                <div class="input-group select-plan">
                  <SelectPlan :isRequired="false"
                    v-model="filterNotify.internshipCourseId"
                    :plans="plans"
                    :defaultText="'Đợt thực tập'"
                    @change="(event) => {filterNotify.internshipCourseId = event.id}">
                  </SelectPlan>
                </div>
              </div>
              <div class="col-xl-2 col-md-4 col-sm-12">
                <button type="submit"
                  @click="getNotificationsAsync()"
                  id="btn-search"
                  class="btn btn-primary">Tìm kiếm</button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead class="">
              <tr>
                <th scope="col">STT</th>
                <th scope="col">Tiêu đề</th>
                <th scope="col">Nội dung</th>
                <th scope="col" class="text-center">Đợt thực tập</th>
                <th scope="col">Thao tác</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(notify, index) in pageOfNotifications" :key="index + 'notification'">
                <th scope="row">{{ index + 1 }}</th>
                <td>{{notify.title}}</td>
                <td>{{notify.content}}</td>
                <td class="text-center">{{getPlanName(notify.internshipCourseId)}}</td>
                <td>
                  <button class="btn btn-primary mr-2">Sửa</button>
                  <button class="btn btn-danger">Xóa</button>
                </td>
              </tr>
              <tr v-show="notifications == null || notifications.length === 0">
                <th colspan="5" class="text-left">
                  Không có dữ liệu nào được tìm thấy.
                </th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    <div class="card-footer d-flex justify-content-center text--blue"
      v-show="notifications == null || notifications.length === 0">
      <JwPagination :items="notifications" @changePage="onChangePage"
        :labels="customLabels" :pageSize="10">
      </JwPagination>
    </div>
    </div>
  </div>
  <NotificationManagementDetailComponent :data="editNoti" />
</div>