<div class="row book-steps">
    <div class="col-sm-12 breadcrumb-wrap hidden-sm-down p-0">
      <div class="booking-step">
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <div :class="{active:isActive === '1'}" class="booking-step__item">
              <div class="number"><span>1</span></div>
              <p class="text">Tạo kế hoạch</p>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div :class="{active:isActive==='2'}" class="booking-step__item">
              <div class="number"><span>2</span></div>
              <p class="text">Thêm sinh viên</p>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div  :class="{active:isActive==='3'}" class="booking-step__item">
              <div class="number"><span>3</span></div>
              <p class="text">Phân công giáo viên</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>