<div class="row">
  <div class="col-12">
    <div class="card">
      <header class="card-header">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" role="img" class="c-icon">
          <path fill="var(--ci-primary-color, currentColor)"
            d="M47.547,63.547V448.453a16,16,0,0,0,16,16H448.453a16,16,0,0,0,16-16V63.547a16,16,0,0,0-16-16H63.547A16,16,0,0,0,47.547,63.547Zm288.6,16h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm-128.3-256.6h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm-128.3-256.6h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Zm0,128.3h96.3v96.3h-96.3Z"
            class="ci-primary"></path>
        </svg> Công ty
        
        <button class="btn btn-primary float-right" @click="createCompany"><i class="fa fa-plus-square"></i></button>
        <!-- <button class="btn btn-secondary float-right btn-search mr-2" @click="createCompanyFile">+ Thêm file</button> -->
      </header>
      <div class="card-body">
        <div class="row mb-3">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="form-row filter-wrapper ml-0 mr-0">
              <div class="col-xl-5 col-lg-5 col-md-4 col-sm-12 col-12">
                <input type="text" class="form-control" id="keywords" placeholder="Nhập từ khóa" />
              </div>
              <div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-12 ">
                <button type="submit" id="btn-search" class="btn btn-primary">Tìm kiếm</button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead class="">
              <tr>
                <th scope="col" class="align-middle">STT</th>
                <th scope="col" class="align-middle">Mã số thuế</th>
                <th scope="col" class="align-middle">Tên công ty</th>
                <th scope="col" class="align-middle">thông tin</th>
                <th scope="col" class="align-middle">Trạng thái</th>
                <th scope="col" class="align-middle">Thao tác</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(company, index) in companies" :key="index">
                <th scope="row">{{ index + 1 }}</th>
                <td  class="link-detail" title="Xem chi tiết" @click="updateCompany(index)">
                  {{ company.taxCode }}
                </td>
                <td>{{ company.title }}</td>
                <td>
                  <div><strong>Đại chỉ: </strong> {{ company.companyAddress }}</div>
                  <div><strong>Chủ sở hữu: </strong> {{ company.owner }}</div>
                  <div><strong>Số điện thoại: </strong>{{ company.phoneNumber }}</div>
                </td>
                <td>{{ company.status === "active"?"Hoạt động":"Không hoạt động" }}</td>
                <td>
                  <button class="btn btn-danger" @click="deleteCompany(company.id, index)"> <em class="fa fa-trash"></em></button>
                </td>
              </tr>
              <tr v-show="companies == null || companies.length === 0">
                <th colspan="5" class="text-left">
                  Không có dữ liệu nào được tìm thấy.
                </th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <CompanyManagementDetailComponent :data="editCompany" 
      @change-data="changeData"/>
      <AddCompanyFileComponent :data="companyFile" 
      @change-data="changeData"/>
      <ConfirmDialog :data="confirmedCompany" @agree="agreeConfirm"></ConfirmDialog>
    </div>
   
  </div>
</div>