<div class="information">
  <div class="card">
    <header class="card-header">
      <div class="float-left">
        <div>
          Đợt thực tập: <strong>{{statisticalPlan.internshipCourseName}}</strong>
        </div>
        <div>
          Khóa: <strong>{{statisticalPlan.courseName}}</strong>
        </div>
      </div>
      <div class="float-right">
        <div>
          Ngày bắt đầu: <strong>{{convertTime(statisticalPlan.startDay, "DD/MM/YYYY")}}</strong>
        </div>
        <div>
          Ngày kết thúc: <strong>{{convertTime(statisticalPlan.endDay, "DD/MM/YYYY")}}</strong>
        </div>
      </div>
    </header>
    <div class="card-body">
      <div class="row col-12">
        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
          <Highcharts 
            v-if="studentsAssigned.length!=0 && studentsUnAssign.length!=0"
            :studentsAssigned="studentsAssigned"
            :studentsUnAssign="studentsUnAssign"
            :labelsProps="'Số sinh viên'"
            :labelChart="'Thống kê phân công'"
            />
        </div>
      </div>
    </div>
  </div>
</div>
